<h1>Stupid Coaching</h1>

<div class="your-question">
<%= params[:question] %>
<br>
<p><em> —You </em></p>
</div>
<div class="answer">
<strong><%= @answer %></strong>
<br>
<p><em> —Your coach </em></p>
</div>
<div class="new-question">
<%= link_to "Ask a new question", ask_path %>
</div>
